<!DOCTYPE html>
<html>
<head>
	<%- include('head'); -%>
	<script type="text/javascript" src="sketchCombined.js"></script>
</head>
<body>
	<div class="container">
		<div class="dropdown dropright">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Level
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#" onclick="setLevel(0)">Level1</a>
				<a class="dropdown-item" href="#" onclick="setLevel(1)">Level2</a>
				<a class="dropdown-item" href="#" onclick="setLevel(2)">Level3</a>
				<a class="dropdown-item" href="#" onclick="setLevel(3)">Level4</a>
				<a class="dropdown-item" href="#" onclick="setLevel(4)">Level5</a>
			</div>
		</div>
		<div id="chartContainerEuclideanFirst" style="height: 370px; width: 100%;"></div>
		<div id="chartContainerManhattanFirst" style="height: 370px; width: 100%;"></div>
		<div id="chartContainerEuclideanFinal" style="height: 370px; width: 100%;"></div>
		<div id="chartContainerManhattanFinal" style="height: 370px; width: 100%;"></div>
	</div>
</body>
</html>